.home-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.home-page .text-zone {
  position: relative;
  left: 5%;
  top: 50%;
  transform: translateY(20%);
  width: 45%;
  max-height: 90%;
  padding-bottom: 6rem;
}
.home-page h1 {
  color: #fff;
  font-size: 56px;
  line-height: 53px;
  margin: 1rem 0;
  line-height: 1.2;
  font-family: "Coolvetica";
  font-weight: 400;
}
.home-page h2 {
  color: #8d8d8d;
  margin-top: 20px;
  font-weight: 400;
  font-size: 11px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}
.home-page .btn {
  display: flex;
  justify-content: unset;
  align-items: center;
}
.home-page .btn .flat-button {
  color: #2bff00;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #2bff00;
  margin-top: 25px;
  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
}
.home-page .btn .flat-button:hover {
  background: #2bff00;
  color: #333;
}
.home-page .btn .button {
  background-color: #2bff00;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  color: #333;
  border: none;
  margin-left: 2rem;
  margin-top: 25px;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
}
.home-page .btn .button:hover {
  background: #333;
  color: #2bff00;
  border: 1px solid #2bff00;
}
.home-page .m_img {
  height: 500px;
  width: 350px;
  margin-top: 20rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 1200px) {
  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    transform: translateY(10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-page .flat-button {
    float: none;
    display: block;
    width: 124px;
  }
  .home-page .button {
    width: 124px;
    margin-left: 3rem;
  }
  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }
  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
  img {
    margin-top: 10rem !important;
  }
  .home-page .m_img {
    margin-top: 16rem;
  }
}
@media screen and (max-width: 568px) {
  .home-page {
    width: 100% !important;
  }
  .home-page .text-zone {
    transform: translateY(3rem) !important;
    padding: 0 1rem 2rem 2rem !important;
  }
  .home-page .text-zone h1 {
    font-size: 3.3rem !important;
    text-align: center;
  }
  .home-page .text-zone .btn {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .home-page .text-zone .btn .button {
    margin-left: 0 !important;
  }
  .home-page .text-zone .m_img {
    width: 80% !important;
    height: 80% !important;
    transform: translateY(-35rem) !important;
  }
}/*# sourceMappingURL=index.css.map */